body {
    background: url("/Users/martinacaputy/apps/unit-4-game/assets/images/congruent_pentagon/congruent_pentagon.png");
    font-family: Georgia, Times, 'Times New Roman', serif;
    
}
#container {
    width: 700px;
    margin: 0 auto;
    padding: 20px 40px;
    
}

#title {
    background-color: orange;
    padding: 5px;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-left: 160px;
}

#randomNumberBox {
    background-color: lemonchiffon;
    color: seagreen;
    height: 100px;
    margin: 10px auto; 
    padding: 5px;
    text-align: center;
}

#scoreBoard {
    background-color: lightcyan;
    color: seagreen;
    height: 100px;
    margin: 10px auto; 
    padding: 5px;
    padding-top:15px;
    text-align: center;
}

#rules {
    background-color:blanchedalmond;
    padding: 20px 10px;
    color: seagreen;
    margin: 10px;
    margin-right: 10px;
    text-align: center;
}

#crystals {
    margin: 20px; 
     

}

#total-score-box {
    background-color: mediumturquoise;
    color: floralwhite;
    margin: 10px;
    margin-left: 30px;
    height: 100px;
    padding-top: 15px;
    text-align: center;
   
}
